/*tags*/
html{
    background: #151515 !important;
    color: #2ab27b;
}

body{
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

nav{
    margin: 10px auto;
    padding: 10px;
    background: #303030;
    color: inherit;
    min-height: 55px;
    border-bottom: solid 2px #2ab27b;
}

nav ul{
    float: right;
    list-style: none;
}

nav li{
    float: left;
    padding: 10px;

}
nav li a{
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

nav a#brand{
    float: left;
    margin: 10px auto;
    padding: 10px;
    color: inherit;
    border: solid 2px #46b8da;
    text-decoration: none;
}

nav li.current a, nav a:hover{
    background: #666666;
}

footer{
    margin: 10px auto;
    padding: 10px;
    background-color: #303030;
    text-align: right;
    border-top: solid 2px #2ab27b;
}

/*classes*/
.heading h1{
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    background-color: #46b8da;
    color: #2e3436;
}

.error{
    margin: 30px auto;
    padding: 40px;
    font-size: 50px;
    text-align: center;
    background-color: #f44262;
    color: #000;
}
/*ids*/

/*media*/